{# Standard person information section #}
{% load i18n %}

<!--
Template: _person_info_section.html
Version: 1.0.0
Author: vas
Modified: 2025-11-27
-->

<div class="section">
    <h2 class="section-title">{% trans "Person Information" %}</h2>
    <div class="section-content">
        <table class="info-table">
            <tr>
                <th>{% trans "Name" %}</th>
                <td>{{ person.first_name }} {{ person.last_name }}</td>
            </tr>
            <tr>
                <th>{% trans "Gender" %}</th>
                <td>{{ person.get_gender_display }}</td>
            </tr>
            {% if person.email %}
            <tr>
                <th>{% trans "Email" %}</th>
                <td>{{ person.email }}</td>
            </tr>
            {% endif %}
            {% if person.student_email %}
            <tr>
                <th>{% trans "Student Email" %}</th>
                <td>{{ person.student_email }}</td>
            </tr>
            {% endif %}
            {% if person.matric_no %}
            <tr>
                <th>{% trans "Matriculation No." %}</th>
                <td>{{ person.matric_no }}</td>
            </tr>
            {% endif %}
            {% if show_uuid and person.uuid %}
            <tr>
                <th>{% trans "UUID" %}</th>
                <td><code>{{ person.uuid }}</code></td>
            </tr>
            {% endif %}
        </table>
    </div>
</div>