# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual envs
.venv/
venv/
env/

# Django
db.sqlite3
*.sqlite3
/staticfiles/         # if you use collectstatic to this folder
/media/               # if user uploads are stored locally during dev

# Environment / secrets
.env
.env.*
*.env
!.env.example

# OS / editor noise
.DS_Store
Thumbs.db
.vscode/
.idea/

# logs
/logs/*.log
/logs/*.log.*

#sensitive bootstrap data (never commit)
config/fixtures/people.yaml
config/fixtures/assignments.yaml
config/fixtures/orginfo.yaml
config/fixtures/access.yaml