{% extends "pdf/protocol_base.html" %}
{% load i18n %}

<!--
Template: session_pdf.html
Version: 1.0.0
Author: vas
Modified: 2025-11-27
-->

{% block title %}{% trans "Session Protocol" %} - {{ session.code }}{% endblock %}

{% block protocol_title %}Protokoll{% endblock %}
{% block protocol_subtitle %}Sitzung der HV am {{ session.session_date|date:"d.m.Y" }}{% endblock %}

{# All the heavy lifting is in protocol_base.html #}
{# Override blocks only if you need custom behavior #}