{% extends "pdf/certificate_base.html" %}
{% load i18n %}
{# VALIDATOR_IGNORE: bilingual_legal_certificates #}

<!--
Template: appointment_ad_interim.html
Version: 1.0.1
Author: vas
Modified: 2025-11-27
-->

{% block cert_title %}DEIN BESTELLUNGSDOKUMENT{% endblock %}
{% block cert_subtitle %}YOUR LETTER OF APPOINTMENT{% endblock %}

{% block appointment_type_de %}<span class="emphasis">interimistische</span>{% endblock %}
{% block appointment_type_en %}<span class="emphasis">ad interim</span>{% endblock %}

{% block legal_text %}
<p class="de">
    Die Bestellung erfolgt iSe vorläufigen Betrauung nach §16 (5)
    »Satzung der Hochschülerinnen- und Hochschülerschaft der FH Oberösterreich« idgF.
</p>
<p class="bilingual en">
    The appointment is made ad interim, until revocation or appointment by election
    pursuant to § 16 (5) of the students' union's statutes; in its current version.
</p>
{% endblock %}