{% extends "pdf/certificate_base.html" %}
{% load i18n %}

{% block cert_title %}DEIN BESTELLUNGSDOKUMENT{% endblock %}
{% block cert_subtitle %}YOUR LETTER OF APPOINTMENT{% endblock %}

{% block appointment_type_de %}{% endblock %}
{% block appointment_type_en %}{% endblock %}

{% block legal_text %}
<p class="de">
    laut Beschluss der Sitzung
    <span class="emphasis">{{ pr.elected_via.full_identifier|default:"N/A" }}</span>
    vom
    <span class="emphasis">{{ pr.confirm_date|default:"N/A"|date:"d.m.Y" }}</span>.
</p>
<p class="bilingual en">
    following resolution of the union assembly
    <span class="emphasis">{{ pr.elected_via.full_identifier|default:"N/A" }}</span>,
    date
    <span class="emphasis">{{ pr.confirm_date|default:"N/A"|date:"d.m.Y" }}</span>.
</p>
{% endblock %}

{% block effective_date %}{{ pr.confirm_date|default:pr.effective_start|default:pr.start_date|date:"d.m.Y" }}{% endblock %}
