{# templates/people/certs/appointment_regular.html #}
{% extends "people/certs/certificate_base.html" %}
{% load i18n %}

{% block cert_title %}DEIN BESTELLUNGSDOKUMENT{% endblock %}
{% block appoint_kind %}{% endblock %}
{% block appoint_kind_en %}{% endblock %}
{% block legal_text %}
  <p>Die Bestellung erfolgt iSd §36 (3), letzter Satz, »HSG 2014« idgF.</p>
  <p class="en-em">The appointment made legal pursuant to § 36 (3) last clause »HSG 2014«; in its current version.</p>
{% endblock %}
