.field-calendar_preview .readonly { padding: 0; border: 0; background: transparent; }
.uh-calwrap { width: 100%; }
#ts-calendar { width: 100%; min-height: 720px; } /* JS height still controls final height */

/* Make the Timesheet calendar row full width */
.field-calendar_preview label,
.field-calendar_preview .col-sm-2 {
  display: none !important;        /* hide the label column */
}

.field-work_calendar_preview .col-sm-7 {
  flex: 0 0 100% !important;       /* take full row */
  max-width: 100% !important;
}

.field-leave_calendar_preview .col-sm-7 {
  flex: 0 0 100% !important;       /* take full row */
  max-width: 100% !important;
}

.field-pto_infobox .col-sm-7 {
  flex: 0 0 100% !important;
  max-width: 100% !important;
}

.field-work_infobox .col-sm-7 {
  flex: 0 0 100% !important;
  max-width: 100% !important;
}

.field-signatures_box .col-sm-7 {
  flex: 0 0 100% !important;
  max-width: 100% !important;
}

.field-elected_person_text_reference input {
    background-color: #fff3cd !important;
    border: 2px solid #ffc107 !important;
}

.field-elected_role_text_reference input {
    background-color: #fff3cd !important;
    border: 2px solid #ffc107 !important;
}

/* global nuke (optional): hide related action icons everywhere */
.related-widget-wrapper .related-widget-wrapper-link { display:none !important; }

input[name="_addanother"],
button[name="_addanother"] {
    display: none !important;
}


/* === Workflow state (LEFT border) === */
tbody tr:has(td.field-status_text span.js-state[data-state="draft"]) {
  border-left: 8px solid #6c757d;
}
tbody tr:has(td.field-status_text span.js-state[data-state="submitted"]) {
  border-left: 8px solid #ffc107;
}
tbody tr:has(td.field-status_text span.js-state[data-state="wiref"]) {
  border-left: 8px solid #0dcaf0;
}
tbody tr:has(td.field-status_text span.js-state[data-state="final"]) {
  border-left: 8px solid #198754;
}
tbody tr:has(td.field-status_text span.js-state[data-state="rejected-final"]) {
  border-left: 8px solid #dc3545;
}

/* === Lock state (RIGHT border) === */
tbody tr:has(td.field-active_text .js-state[data-state="ok"]) {
  border-right: 8px solid #2dd587;
}
tbody tr:has(td.field-active_text .js-state[data-state="off"]) {
  border-right: 8px solid #6d1717;
}

